[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
pytest-flask = "*"
importlib-metadata = "*"

[packages]
# spidev = "*"
# mfrc522 = "*"
flask = "*"
peewee = "*"
python-dotenv = "*"
flask-api = "*"
flask-jwt-extended = "*"
cowsay = "*"
requests = "*"
coloredlogs = "*"
tabulate = "*"
smbus = "*"

[requires]
python_version = "3"
